<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829996874632-rohu218gh1a8iqqugog48t1uvh1frggs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829996874632-rohu218gh1a8iqqugog48t1uvh1frggs</string>
	<key>API_KEY</key>
	<string>AIzaSyCDuWBCm9zlEZm-EpstBDpUkz7gq23pdTo</string>
	<key>GCM_SENDER_ID</key>
	<string>829996874632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c9cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c9cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829996874632:ios:c885883f63be28a5e8583d</string>
</dict>
</plist>